:root {
    --grey: rgb(108, 111, 112);
    --orange: rgb(245, 125, 33);
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timer-text, .highscore-button {
  margin-left: 2em;
  margin-top: 1em;
  margin-right: 2em;
  color: var(--grey);
}
.highscore-button:hover {
  color: var(--orange);
  transition: .5s;
}
.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.question {
  font-size: 4em;
  text-align: center;
}
.highscores {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
}
.sub-text {
  text-align: center;
  font-size: 1.5em;
  margin: 3em;
  color: var(--grey);
}
.name-input {
    display: none;
}
.choice {
    padding: .2em;
    text-align: center;
    font-size: 2.5em;
    border-style: solid;
    border-width: 5px;
    border-color: var(--grey);
    border-radius: 10px;
    margin: 20px;
    display: none;
}
.choice:hover {
    background-color: var(--orange);
    color: white;
    transition: .2s;
}
.start-button {
  border-radius: 10px;
  font-size: 1.2em;
  min-width: 5em;
  min-height: 1.5em;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: var(--grey);
}
.start-button:hover {
    background-color: var(--orange);
    color: rgb(253, 253, 253);
    transition: .5s;
}
.ans-check {
    text-align: left;
    font-size: 2em;
    color: var(--grey);
    padding-right: 5em;
    padding-bottom: .5em;
    border-style: solid;
    border-bottom-width: 2px;
    visibility: hidden;
}
